<template>
  <div class="hello">
    <ul>
      <li v-for="chat in chats" :key="chat.userId" v-on:click="changeState(chat.userId)">
        {{ chat.userName }}
      </li>
    </ul>
    <ul>
      <li v-for="message in currentChat" :key="message.id"> 
        {{ message.text }}
      </li>
    </ul>
  </div>
</template>

<script>
import {store} from "../main"

export default {
  name: 'HelloWorld',
  store: store,
  props: {
    msg: String
  },
  computed: {
    chats() {
      console.log(store.state)
      return store.state.chats
    },
    currentChat() {
      if (store.state.currentChat != null) {
        return store.state.currentChat.chatHistory
      }

      return []
    }
  },
  methods: {
    changeState(userId) {
      console.log(userId)
      store.commit("setCurrentChat", userId)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
